<a href="https://colab.research.google.com/github/DrDAN6770/DataSciense-with-Python/blob/main/%E8%B3%87%E6%96%99%E7%A7%91%E5%AD%B8%E5%B7%A5%E5%85%B7%E7%AE%B1/%E6%95%99%E7%B7%B4%E5%B8%B6%E8%B7%91/Task%2004/%E8%B3%87%E6%96%99%E5%89%8D%E8%99%95%E7%90%86%E8%88%87%E8%B3%87%E6%96%99%E6%B8%85%E7%90%86.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://dscareer.kolable.app/programs/9bb10c37-9d10-4dc8-9350-3b21b06b1b44/contents/11f0c4ed-8afe-45cf-98c3-f45ca9cf1777?back=members_682cf17c-09e2-4154-bf2d-243d99382c1f

#資料前處理（Data Preprocessing）

---

* 預習教材
* 用 Pandas 操作資料
* 缺失值處理策略與方法
* 類別欄位轉數值欄位

## 預習教材

---


第一步，先想請你約讀以下兩篇教學先對這個單元有一個整體的觀念：


*   [資料前處理必須要做的事 - 資料清理與型態調整](https://blog.v123582.tw/2020/12/04/%E8%B3%87%E6%96%99%E5%89%8D%E8%99%95%E7%90%86%E5%BF%85%E9%A0%88%E8%A6%81%E5%81%9A%E7%9A%84%E4%BA%8B-%E8%B3%87%E6%96%99%E6%B8%85%E7%90%86%E8%88%87%E5%9E%8B%E6%85%8B%E8%AA%BF%E6%95%B4/)
*   [準備資料以增強機器學習](https://learn.microsoft.com/zh-tw/azure/architecture/data-science-process/prepare-data#why-pre-process-and-clean-data)

##用 Pandas 操作資料

---

常見的資料前處理包括資料選擇、資料過濾、資料排序等等。Pandas 提供了非常方便的方法來處理這些問題。

###資料選擇

---

loc 方法可以按照標籤選擇資料，而 iloc 方法可以按照索引位置選擇資料。

In [ ]:
import pandas as pd

data = pd.DataFrame({
    'col1': [1, 2, 3, 4],
    'col2': [5, 6, 7, 8],
    'col3': [9, 10, 11, 12]
})

# 選擇第一列資料
row = data.loc[0]

# 選擇第一列和第二列資料
rows = data.loc[[0, 1]]

# 選擇第一列和第二列，以及第一欄和第二欄的資料
subset = data.loc[[0, 1], ['col1', 'col2']]
data

   col1  col2  col3
0     1     5     9
1     2     6    10
2     3     7    11
3     4     8    12

In [ ]:
row

col1    1
col2    5
col3    9
Name: 0, dtype: int64

In [ ]:
rows

   col1  col2  col3
0     1     5     9
1     2     6    10

In [ ]:
subset

   col1  col2
0     1     5
1     2     6

###資料過濾

---

Pandas 提供了 query 和 boolean indexing 方法用於資料過濾

In [ ]:
data = pd.DataFrame({
    'col1': [5, 12, 8, 15],
    'col2': [16, 9, 18, 4],
    'col3': [11, 3, 7, 20]
})
data

   col1  col2  col3
0     5    16    11
1    12     9     3
2     8    18     7
3    15     4    20

In [ ]:
# 選擇 col1 大於 10 的資料
subset = data.query('col1 > 10')
subset

   col1  col2  col3
1    12     9     3
3    15     4    20

In [ ]:
# 選擇 col1 大於 10 且 col2 小於 20 的資料
subset = data[(data['col1'] > 10) & (data['col2'] < 20)]
subset

   col1  col2  col3
1    12     9     3
3    15     4    20

### 資料排序

---

sort_values 方法用於資料排序

In [ ]:
data = pd.DataFrame({
    'col1': [5, 12, 8, 15],
    'col2': [16, 9, 18, 4],
    'col3': [11, 3, 7, 20]
})
data

   col1  col2  col3
0     5    16    11
1    12     9     3
2     8    18     7
3    15     4    20

In [ ]:
# 按照 col1 排序
data.sort_values('col1')

   col1  col2  col3
0     5    16    11
2     8    18     7
1    12     9     3
3    15     4    20

In [ ]:
# 按照 col1 和 col2 排序
data.sort_values(['col1', 'col2'])

   col1  col2  col3
0     5    16    11
2     8    18     7
1    12     9     3
3    15     4    20

In [ ]:
# 按照 col1 升序排列，col2 降序排列
data.sort_values(['col1', 'col2'], ascending=[True, False])

   col1  col2  col3
0     5    16    11
2     8    18     7
1    12     9     3
3    15     4    20

###資料去重

---

Pandas 提供了 drop_duplicates 方法用於去除重複的資料

In [ ]:
data = pd.DataFrame({
    'col1': [5, 12, 5, 8, 12],
    'col2': [16, 9, 16, 18, 9],
    'col3': [11, 3, 11, 7, 3]
})
data

   col1  col2  col3
0     5    16    11
1    12     9     3
2     5    16    11
3     8    18     7
4    12     9     3

In [ ]:
# 去除重複資料
data.drop_duplicates()

   col1  col2  col3
0     5    16    11
1    12     9     3
3     8    18     7

##缺失值處理策略與方法

---

Missing Value，又稱為缺失值


* NaN（Not a Number）表示一個非數值，通常在數值運算中出現，例如 0/0、∞/∞ 等。在 Pandas 中，NaN 會被當作一個浮點數來處理。
* None 表示缺少一個正確的值，通常出現在物件運算中。在 Pandas 中，None 會被當作一個 Python 物件來處理。

### isnull()

In [ ]:
import numpy as np
data = pd.DataFrame({
    'col1': [5, 12, 8, np.nan],
    'col2': [16, 9, np.nan, 4],
    'col3': [11, 3, 7, 20]
})
data

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3
2   8.0   NaN     7
3   NaN   4.0    20

In [ ]:
# 檢查缺失值
data.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False   True  False
3   True  False  False

### notnull()

---
與isnull()相反

In [ ]:
data = pd.DataFrame({
    'col1': [5, 12, 8, np.nan],
    'col2': [16, 9, np.nan, 4],
    'col3': [11, 3, 7, 20]
})
data

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3
2   8.0   NaN     7
3   NaN   4.0    20

In [ ]:
# 檢查非缺失值
data.notnull()

    col1   col2  col3
0   True   True  True
1   True   True  True
2   True  False  True
3  False   True  True

###fillna()

In [ ]:
data = pd.DataFrame({
    'col1': [5, 12, 8, np.nan],
    'col2': [16, 9, np.nan, np.nan],
    'col3': [11, 3, 7, 20]
})
data

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3
2   8.0   NaN     7
3   NaN   NaN    20

In [ ]:
# 將所有缺失值填充為 0
data.fillna(0)

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3
2   8.0   0.0     7
3   0.0   0.0    20

##Missing Value 的處理策略



---



1. 刪除含有 Missing Value 的行
2. 刪除含有過多 Missing Value 的列
3. 填充 Missing Value
4. 使用插值法填充 Missing Value
5. 使用機器學習算法填充 Missing Value

#### 刪除含有 Missing Value 的行

---

刪除含有 Missing Value 的行是一個常見的處理策略，但需要注意的是，刪除行可能會導致資料損失，因此需要根據具體情況進行決策

In [ ]:
data = pd.DataFrame({
    'col1': [5, 12, 8, np.nan],
    'col2': [16, 9, np.nan, 4],
    'col3': [11, 3, 7, 20]
})

data

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3
2   8.0   NaN     7
3   NaN   4.0    20

In [ ]:
# 刪除所有含有缺失值的行
data.dropna()

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3

#### 刪除含有過多 Missing Value 的列

---

當一列中含有過多的 Missing Value 時，可以考慮刪除該列

In [ ]:
data = pd.DataFrame({
    'col1': [5, 12, 8, np.nan],
    'col2': [16, 9, np.nan, np.nan],
    'col3': [11, 3, 7, 20]
})
data

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3
2   8.0   NaN     7
3   NaN   NaN    20

In [ ]:
# 刪除所有遺失值過多的列
data.dropna(thresh=2)

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3
2   8.0   NaN     7

#### 填充 Missing Value

---

如果缺失值的原因是資料蒐集上的問題，例如問卷調查中的未回答問題，則可以使用常數填充 Missing Value

In [ ]:
data = pd.DataFrame({
    'col1': [5, 12, 8, np.nan],
    'col2': [16, 9, np.nan, 4],
    'col3': [11, 3, 7, 20]
})
data

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3
2   8.0   NaN     7
3   NaN   4.0    20

In [ ]:
# 將所有缺失值填充為 0
data.fillna(0, inplace=True)

# 如果你想要修改原始 dataframe，必須將 inplace 參數設為 True
data

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3
2   8.0   0.0     7
3   0.0   4.0    20

使用平均值、中位數或眾數填充 Missing Value 是一種常見的方法。可以使用 Pandas 的 mean、median 或 mode 方法來計算平均值、中位數或眾數

In [ ]:
# 將所有缺失值填充為平均值
data = pd.DataFrame({
    'col1': [5, 12, 8, np.nan],
    'col2': [16, 9, np.nan, 4],
    'col3': [11, 3, 7, 20]
})
print(data.mean())
data.fillna(data.mean(), inplace=True)

data

col1     8.333333
col2     9.666667
col3    10.250000
dtype: float64

        col1       col2  col3
0   5.000000  16.000000    11
1  12.000000   9.000000     3
2   8.000000   9.666667     7
3   8.333333   4.000000    20

In [ ]:
# 將所有缺失值填充為中位數
data = pd.DataFrame({
    'col1': [5, 12, 8, np.nan],
    'col2': [16, 9, np.nan, 4],
    'col3': [11, 3, 7, 20]
})
data.fillna(data.median(), inplace=True)
data

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3
2   8.0   9.0     7
3   8.0   4.0    20

In [ ]:
# 將所有缺失值填充為眾數
# 回傳最小的眾數 col1:5 col2:4 col3:3
data = pd.DataFrame({
    'col1': [5, 12, 8, np.nan],
    'col2': [16, 9, np.nan, 4],
    'col3': [11, 3, 7, 20]
})

data.fillna(data.mode().iloc[0], inplace=True)
data

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3
2   8.0   4.0     7
3   5.0   4.0    20

#### 使用插值法填充 Missing Value

---
插值法是一種常見的填充 Missing Value 的方法，可以使用 Pandas 的 interpolate 方法實現

In [ ]:
data = pd.DataFrame({
    'col1': [5, 12, 8, np.nan],
    'col2': [16, 9, np.nan, 4],
    'col3': [11, 3, 7, 20]
})
data

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3
2   8.0   NaN     7
3   NaN   4.0    20

In [ ]:
# 使用插值法填充缺失值
# interpolate()會使用一定的方法（比如線性插值、多項式插值等）來預測缺失值，並將預測值填充回原始數據中
# 預測值的計算方式取決於選擇的插值方法
# col1 index3 參照前一值 col2 index2 參照線性 (9+4) /2
data.interpolate()

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3
2   8.0   6.5     7
3   8.0   4.0    20

In [ ]:
# 使用多項式插值法填充缺失值
data.interpolate(method='polynomial', order=2)

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3
2   8.0   5.0     7
3   NaN   4.0    20

####使用機器學習算法填充 Missing Value

---
機器學習算法可以用於填充 Missing Value，例如 K-Nearest Neighbor（KNN）算法。KNN 算法可以根據與缺失值最接近的 k 個樣本的值來填充缺失值

In [ ]:
from sklearn.impute import KNNImputer

In [ ]:
data = pd.DataFrame({
    'col1': [5, 12, 8, np.nan],
    'col2': [16, 9, np.nan, 4],
    'col3': [11, 3, 7, 20]
})
data

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3
2   8.0   NaN     7
3   NaN   4.0    20

In [ ]:
# 使用 KNN 算法填充缺失值
imputer = KNNImputer(n_neighbors=2)
data_imputed = pd.DataFrame(imputer.fit_transform(data), columns=data.columns)
data_imputed

   col1  col2  col3
0   5.0  16.0  11.0
1  12.0   9.0   3.0
2   8.0  12.5   7.0
3   8.5   4.0  20.0

## 類別欄位轉數值欄位

---

有時需要將類別欄位轉換為數值欄位，以便進行數值計算和機器學習模型訓練等操作

例如，某個欄位的取值為「男」和「女」，可以將其轉換為數值欄位，例如「0」表示男性，「1」表示女性

Pandas 提供了多種方法來處理類別欄位
1. Labelencoding
2. One-hot-encdoing

###Pandas 提供的的欄位類型


---
在 Pandas 中，每個欄位都有一個類型，類型可以是數值、字串、日期等。Pandas 中的欄位類型可以使用 dtype 屬性查詢，常見的欄位類型包括：

* int：整數
* float：浮點數
* bool：布林值
* object：字串或混合型別
* datetime：日期或時間

In [ ]:
# 建立一個字典，包含各欄位的資料
data_dict = {'col1': [1, 2, 3, 4],
             'col2': ['A', 'B', 'C', 'D'],
             'col3': [0.1, 0.2, 0.3, 0.4]}

# 使用字典建立一個 dataframe
data = pd.DataFrame(data_dict)

# 查詢每個欄位的類型
print(data.dtypes)

col1      int64
col2     object
col3    float64
dtype: object

####Labelencoding

---

Labelencoding 是一種將類別欄位轉換為數值欄位的方法，它可以將每個類別值映射為一個整數。Pandas 提供了 LabelEncoder 方法來實現 Labelencoding

In [ ]:
df = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'category': ['A', 'B', 'C', 'A', 'B']
})
df

   id category
0   1        A
1   2        B
2   3        C
3   4        A
4   5        B

In [ ]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['category_labelencoded'] = label_encoder.fit_transform(df['category'])

# 可以看到，category 欄位被轉換為了 category_labelencoded 欄位
# 其中類別 A 被轉換為 0，類別 B 被轉換為 1，類別 C 被轉換為 2
df

   id category  category_labelencoded
0   1        A                      0
1   2        B                      1
2   3        C                      2
3   4        A                      0
4   5        B                      1

####One-hot-encoding

---

One-hot-encoding 是一種將類別欄位轉換為數值欄位的方法，它可以將每個類別值轉換為一個二進制向量。Pandas 提供了 get_dummies 方法來實現 One-hot-encoding。

In [ ]:
# 使用 One-hot-encoding 將類別欄位轉換為數值欄位
df_onehotencoded = pd.get_dummies(df, columns=['category'])
df_onehotencoded


# 可以看到，category 欄位被轉換為了 category_A、category_B 和 category_C 三個數值欄位。
# 對於每個類別，都創建了一個新的欄位，其值為 0 或 1，對應於原來的類別值。
# 在 One-hot-encoding 中，每個類別值被轉換為一個二進制向量，向量的長度等於類別數量。
# 使用 One-hot-encoding 可以避免數值欄位中出現偏差，例如 Labelencoding 中使用的整數值可能會被機器學習模型誤解為具有順序關係
# 而 One-hot-encoding 中的二進制向量則不會出現這樣的問題。

   id  category_labelencoded  category_A  category_B  category_C
0   1                      0           1           0           0
1   2                      1           0           1           0
2   3                      2           0           0           1
3   4                      0           1           0           0
4   5                      1           0           1           0

#延伸閱讀

---

* Kaggle 提供的免費課程「[Data Cleaning](https://www.kaggle.com/learn/data-cleaning)」部分 ← 必修教材